
.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.not-found h1{
    font-size: 120px;
}

.texto{
font-size: 2.0rem;
margin: 0 10%;
}

.texto span{
    color: rgb(252, 0, 0);
}

.voltar{
border-width: 1;
background-color: #1212;
padding: 10px;
border-radius: 5px;
color: #FFF;
font-weight: bold;
cursor: pointer;
margin-top: 8px;
transition: all 0.5s;
}

.voltar:hover{
    background-color: #116feb;
}